Repository liminal-ai-security/liminal-sdk-python, pull requests merged in 2024-03, with the labels that each got.

#69 ci: update Release Drafter to use CalVer
  .github/release-drafter.yml
  .github/workflows/draft-release-notes.yml
  .github/workflows/label-pull-request.yml
Labels: maintenance

#70 ci: fix release process
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/draft-release-notes.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/requirements-create-release.txt
Labels: maintenance

#78 ci: ensure hooks can run in release PRs
  .github/workflows/label-pull-request.yml
  .github/workflows/lint-and-analyze.yml
  .github/workflows/lint-pull-request.yml
Labels: maintenance

#79 ci: ensure `release` PRs are skipped by Release Drafter
  .github/release-drafter.yml
Labels: maintenance

#81 ci: fix too-strict branch target
  .github/workflows/lint-and-analyze.yml
Labels: maintenance

#84 ci: fix missing git config info in release workflow
  .github/workflows/create-release.yml
Labels: maintenance

#86 ci: use action to add `release` label to release PRs
  .github/labeler.yml
  .github/workflows/create-release-pr.yml
Labels: maintenance

#88 build: use `liminal-sdk-python` as the package name
  pyproject.toml
Labels: maintenance

#91 Merge `main` into `dev`
  pyproject.toml
Labels: maintenance

#92 build: loosen Python version pin
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#95 docs: fix incorrect badges
  README.md
Labels: documentation

#96 docs: add installation instructions to README.md
  README.md
Labels: documentation

#98 build: fix incorrect package source inclusion
  pyproject.toml
Labels: maintenance

#100 ci: update linters and hooks
  .pre-commit-config.yaml
  examples/__init__.py
  examples/chat_client.py
  examples/hydrate_response.py
  examples/quickstart_with_microsoft.py
  liminal/client.py
  liminal/endpoints/auth/__init__.py
  liminal/endpoints/auth/models.py
  liminal/endpoints/llm/__init__.py
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/thread/__init__.py
  liminal/helpers/model.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/common.py
Labels: documentation, dependencies, maintenance

#101 docs: remove unnecessary logging in README examples
  README.md
Labels: documentation

#102 chore: add missing types
  examples/chat_client.py
  examples/hydrate_response.py
  examples/quickstart_with_microsoft.py
  liminal/client.py
  liminal/const.py
  liminal/endpoints/auth/__init__.py
Labels: maintenance

#104 fix: ensure refresh token skips request lock
  liminal/client.py
Labels: bug

#106 chore: `main` into `development`
  pyproject.toml
Labels: maintenance

#107 chore: remove redundant `pylint` rule
  pyproject.toml
Labels: maintenance

#110 chore: update readme path for script
  README.md
Labels: documentation

#111 docs: add example of creating a `Client` from a refresh token
  README.md
Labels: documentation

#112 docs: add connection pooling + TOC to docs
  README.md
Labels: documentation

#109 test: add complete test suite
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
  .github/workflows/requirements.txt
  .github/workflows/test.yml
  .gitignore
  README.md
  liminal/client.py
  liminal/endpoints/llm/models.py
  liminal/endpoints/thread/models.py
  poetry.lock
  pyproject.toml
  tests/auth/__init__.py
  tests/auth/test_liminal.py
  tests/auth/test_microsoft.py
  tests/common.py
  tests/conftest.py
  tests/fixtures/model-instances-response.json
  tests/fixtures/msal-cache-token-response.json
  tests/fixtures/msal-token-by-device-flow-response.json
  tests/fixtures/prompt-analyze-response.json
  tests/fixtures/prompt-cleanse-response.json
  tests/fixtures/prompt-hydrate-response.json
  tests/fixtures/prompt-submit-response.json
  tests/fixtures/threads-create-response.json
  tests/fixtures/threads-deidentified-context-history-response.json
  tests/fixtures/threads-get-available-response.json
  tests/fixtures/threads-get-by-id-response.json
  tests/test_client.py
  tests/test_llm.py
  tests/test_prompt.py
  tests/test_thread.py
Labels: documentation, dependencies, maintenance

#114 build: widen `python` range in Renovate
  renovate.json
Labels: maintenance

#116 fix: correct misspelling in Renovate config
  renovate.json
Labels: maintenance

#117 refactor: more accurately align response types to Liminal API spec
  liminal/endpoints/auth/models.py
  liminal/endpoints/llm/models.py
  liminal/endpoints/prompt/models.py
  liminal/endpoints/thread/models.py
  liminal/helpers/model.py
  tests/test_llm.py
  tests/test_thread.py
Labels: maintenance, breaking-change

#118 docs: add "Breaking Changes" section to PR template
  .github/pull_request_template.md
Labels: documentation, maintenance

#119 ci: adjust paths for auto-labeler
  .github/labeler.yml
Labels: maintenance

#120 refactor: refactor MS Device Code Flow provider structure
  README.md
  examples/chat_client.py
  examples/hydrate_response.py
  examples/quickstart_with_microsoft.py
  liminal/auth/__init__.py
  liminal/auth/microsoft/__init__.py
  liminal/auth/microsoft/device_code_flow.py
  liminal/auth/microsoft/models.py
  liminal/client.py
  tests/auth/test_liminal.py
  tests/auth/test_microsoft.py
  tests/conftest.py
  tests/test_client.py
Labels: documentation, breaking-change

#125 fix: threads source usage
  liminal/client.py
  liminal/const.py
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/thread/__init__.py
  tests/auth/test_liminal.py
  tests/conftest.py
  tests/test_client.py
  tests/test_llm.py
  tests/test_prompt.py
  tests/test_thread.py
Labels: maintenance

#128 fix: use prompts module
  README.md
  examples/chat_client.py
  examples/hydrate_response.py
  examples/quickstart_with_microsoft.py
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/prompt/models.py
  tests/auth/test_liminal.py
  tests/test_prompt.py
Labels: documentation

#130 refactor: remove get context history
  README.md
  liminal/endpoints/thread/__init__.py
  tests/test_thread.py
Labels: documentation, maintenance
