Repository liminal-ai-security/liminal-sdk-python, pull requests merged in 2024-09, with the labels that each got.

#285 refactor: rename `Chat` fields
  liminal/endpoints/thread/models.py
  tests/fixtures/threads-get-available-response.json
Labels: breaking-change

#293 chore: ensure correct supported Python versions
  liminal/client.py
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#295 chore: update Renovate to replace `python` version (preserving range)
  renovate.json
Labels: maintenance

#296 test: update `ModelInstance` test data
  tests/fixtures/model-instances-response.json
  tests/fixtures/threads-get-available-response.json
  tests/fixtures/threads-get-by-id-response.json
Labels: maintenance

#306 fix: Pin Sub-Dependency Version for Security Update
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#310 build: don't pin versions of certain packages
  renovate.json
Labels: maintenance

#312 build: widen the Python package names observed by Renovate
  renovate.json
Labels: maintenance
