Repository liminal-ai-security/liminal-sdk-python, pull requests merged in 2024-06, with the labels that each got.

#208 fix!: remove `origin`
  liminal/endpoints/prompt/models.py
  tests/fixtures/prompt-analyze-response.json
Labels: breaking-change

#209 docs: update default branch in PR template
  .github/pull_request_template.md
Labels: documentation

#205 ci: remove unused `lock` GitHub Action
  .github/workflows/lock.yml
Labels: maintenance

#219 build: update `pyproject.toml` to latest standard
  pyproject.toml
Labels: maintenance

#220 build: pin `cryptography` version to resolve CVE
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance
