Repository liminal-ai-security/liminal-sdk-python, pull requests merged in 2024-05, with the labels that each got.

#155 fix: use session-based auth
  README.md
  examples/authenticate_from_session.py
  liminal/client.py
  pyproject.toml
  tests/auth/test_liminal.py
  tests/auth/test_microsoft.py
  tests/common.py
  tests/conftest.py
  tests/test_client.py
Labels: documentation, maintenance

#146 fix!: `ModelConnection` types
  liminal/endpoints/llm/models.py
  tests/fixtures/model-instances-response.json
  tests/fixtures/threads-create-response.json
  tests/fixtures/threads-get-available-response.json
  tests/fixtures/threads-get-by-id-response.json
Labels: maintenance, breaking-change

#157 ci: enable beta releases in CI
  .github/workflows/create-release-pr.yml
  .github/workflows/create-release.yml
Labels: maintenance

#168 feat: add streaming support to prompt submission
  README.md
  examples/chat_client_streaming.py
  liminal/client.py
  liminal/endpoints/prompt/__init__.py
  liminal/endpoints/prompt/models.py
  liminal/endpoints/thread/__init__.py
  tests/conftest.py
  tests/fixtures/prompt-stream-response.txt
  tests/test_prompt.py
Labels: documentation, enhancement

#171 build: add `ruff-lsp` to dev dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#178 ci: simplify GH action to cut release PR
  .github/workflows/create-release-pr.yml
Labels: maintenance

#179 ci: run hooks and fix issues
  liminal/client.py
  pyproject.toml
Labels: maintenance

#180 chore: main into development
  pyproject.toml
Labels: maintenance

#183 fix: re-add missing default request timeout
  liminal/client.py
Labels: bug

#185 chore: main into development
  pyproject.toml
Labels: maintenance

#189 chore: remove redundant `ruff-lsp`
  poetry.lock
  pyproject.toml
Labels: dependencies, maintenance

#191 refactor: update data models to fit new api changes
  CODE_OF_CONDUCT
  liminal/endpoints/prompt/models.py
  liminal/endpoints/thread/__init__.py
  tests/fixtures/prompt-cleanse-response.json
  tests/fixtures/prompt-hydrate-response.json
  tests/fixtures/prompt-submit-response.json
Labels: documentation

#193 chore: main into development
  pyproject.toml
Labels: maintenance

#194 fix: remove text field from reidentification token dataclass
  liminal/endpoints/prompt/models.py
Labels: bug

#198 feat: add Perplexity as a supported provider
  liminal/endpoints/llm/models.py
Labels: enhancement

#200 fix: ensure incomplete streaming chunks are properly handled
  liminal/client.py
  liminal/endpoints/prompt/__init__.py
  tests/conftest.py
  tests/test_prompt.py
Labels: bug
