Repository liminal-ai-security/liminal-sdk-python, pull requests merged in 2024-07, with the labels that each got.

#235 build: update `pyproject.toml` to match current Liminal standards
  pyproject.toml
Labels: maintenance

#242 feat!: add ability to authenticate via Liminal-provided token
  README.md
  examples/authenticate_from_auth_provider.py
  examples/authenticate_from_session.py
  examples/authenticate_from_session_id.py
  examples/authenticate_from_token.py
  examples/chat_client.py
  examples/chat_client_streaming.py
  examples/hydrate_response.py
  liminal/client.py
  pyproject.toml
  tests/auth/test_liminal.py
  tests/auth/test_microsoft.py
  tests/common.py
  tests/conftest.py
  tests/test_client.py
Labels: enhancement, breaking-change

#253 feat: add support for multiple model connections
  liminal/endpoints/llm/__init__.py
  liminal/endpoints/llm/models.py
  tests/fixtures/model-instances-response.json
  tests/fixtures/threads-create-response.json
  tests/fixtures/threads-get-available-response.json
  tests/fixtures/threads-get-by-id-response.json
Labels: maintenance, breaking-change
